<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
</head>
<body>
    <a href = "/">Home</a>
    <h1>User Profile</h1>
    <div>
        <h3>Details</h3>
        <table>
            <tr><td>Username        </td><td><%=currentUser.username%></td></tr>
            <tr><td>Name            </td><td><%=currentUser.name%></td></tr>
            <tr><td>Email            </td><td><%=currentUser.email%></td></tr>
            <tr><td>Mobile           </td><td><%=currentUser.mobile%></td></tr>
        </table>
    </div>
    
</body>
</html>