<!DOCTYPE html>
<html>
<head>
	<title>My Test webpage</title>
</head>
<body>
    <a href = "/">Home</a>
    <form method = 'POST' action = '/signup'>
        <table>
            <tr>
                <td><label for = 'username'>Username</label></td>
                <td><input type = 'text' name = 'username'></td>
            </tr>
            <tr>
                <td><label for = 'username'>Password</label></td>
                <td><input type = 'password' name = 'password'></td>
            </tr>
            <tr>
                <td><label for = 'name'>Name</label></td>
                <td><input type = 'text' name = 'name'></td>
            </tr>
            <tr>
                <td><label for = 'email'>Email</label></td>
                <td><input type = 'text' name = 'email'></td>
            </tr>
            <tr>
                <td><label for = 'mobile'>Mobile</label></td>
                <td><input type = 'text' name = 'mobile'></td>
            </tr>
        </table>
        <button type = 'submit'>Sign Up</button>
    </form>

</body>
</html>